In [24]:
from orders import *

### Test 1
Customer ingin menambahkan dua item baru menggunakan method add_item(). Item yang ditambahkan adalah sebagai berikut:
Nama Item: Ayam Goreng, Qty: 2, Harga: 20000
Nama Item: Pasta Gigi, Qty: 3, Harga: 15000

In [25]:
trx = Transaction()
trx.add_item("Ayam Goreng", 2, 20000)
trx.add_item("Pasta Gigi", 3, 15000)

Pemesanan sudah benar: {'Ayam Goreng': [2, 20000]}
Pemesanan sudah benar: {'Pasta Gigi': [3, 15000]}

In [26]:
print(f"Item yang dibeli adalah: {trx}")

Item yang dibeli adalah: {'Ayam Goreng': [2, 20000], 'Pasta Gigi': [3, 15000]}

### Test 2

Ternyata Customer salah membeli salah satu item dari belanjaan yang sudah ditambahkan, maka Customer menggunakan method delete_item() untuk menghapus item. Item yang ingin dihapuskan adalah Pasta Gigi.

In [27]:
trx.delete_item("Pasta Gigi")

In [28]:
print(f"Item yang dibeli adalah: {trx}")

Item yang dibeli adalah: {'Ayam Goreng': [2, 20000]}

### Test 3

Ternyata setelah dipikir - pikir Customer salah memasukkan item yang ingin dibelanjakan! Daripada menghapusnya satu - satu, maka Customer cukup menggunakan method reset_transaction() untuk menghapus semua item yang sudah ditambahkan.

In [29]:
trx.reset_transaction()

Semua item berhasil di-delete!

In [30]:
print(f"Item yang dibeli adalah: {trx}")

Item yang dibeli adalah: {}

### Test 4

Setelah Customer selesai berbelanja, akan menghitung total belanja yang harus dibayarkan menggunakan method check_out() . Sebelum mengeluarkan output total belanja akan menampilkan item-item yang dibeli. Setelahnya, data transaksi akan dimasukkan ke dalam database. Kita import dulu modul `db_helper` untuk cek hasil input di database.

In [31]:
from db_helper import show_detailed_transactions, delete_tables_data

(Opsional) Kita hapus seluruh data table di database (opsional) supaya mudah mengecek hasil transaksi yang terinput ke dalam database. Disarankan jika sebelumnya sudah pernah menjalankan notebook ini.

In [43]:
delete_tables_data()

Kita set item-item yang dibeli:
* Ayam Goreng, 2, 20_000
* Pasta Gigi, 3, 15_000
* Mainan Mobil, 1, 200_000
* Mi Instan, 5, 3000

Lalu di dalam kode juga diset bahwa promo yang digunakan adalah yang berdasarkan transaksi. Diskon dihitung berdasarkan total penjumlahan dari subtotal harga per item.

In [33]:
trx = Transaction()
trx.set_promo(promos.BY_TRX)
trx.add_item("Ayam Goreng", 2, 20_000)
trx.add_item("Pasta Gigi", 3, 15_000)
trx.add_item("Mainan Mobil", 1, 200_000)
trx.add_item("Mi Instan", 5, 3000)
print(f"Item yang dibeli adalah: {trx}")

Pemesanan sudah benar: {'Ayam Goreng': [2, 20000]}
Pemesanan sudah benar: {'Pasta Gigi': [3, 15000]}
Pemesanan sudah benar: {'Mainan Mobil': [1, 200000]}
Pemesanan sudah benar: {'Mi Instan': [5, 3000]}
Item yang dibeli adalah: {'Ayam Goreng': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mainan Mobil': [1, 200000], 'Mi Instan': [5, 3000]}

In [34]:
trx.check_out()

Total belanja: 285,000.0
Total diskon: 5.00%

In [35]:
from db_helper import show_detailed_transactions, delete_tables_data

show_detailed_transactions()

  id    total_harga_rp    diskon_persen    harga_diskon_rp  nama_item       jumlah_item    harga_item
----  ----------------  ---------------  -----------------  ------------  -------------  ------------
   1            300000                5             285000  Ayam Goreng               2         20000
   1            300000                5             285000  Pasta Gigi                3         15000
   1            300000                5             285000  Mainan Mobil              1        200000
   1            300000                5             285000  Mi Instan                 5          3000

#### Variasi promo

Jika menggunakan tipe promo lain, yakni berdasarkan per item. Besaran diskon bisa berbeda. Kita coba gunakan transaksi yang sama.

In [36]:
trx.check_order()

                Item     Qty    Price
------------  ------  ------  -------
Ayam Goreng        2   20000    40000
Pasta Gigi         3   15000    45000
Mainan Mobil       1  200000   200000
Mi Instan          5    3000    15000

In [37]:
trx.set_promo(promos.BY_ITEM)
trx.check_out()

Total belanja: 300,000
Total diskon: 0.00%

In [38]:
show_detailed_transactions()

  id    total_harga_rp    diskon_persen    harga_diskon_rp  nama_item       jumlah_item    harga_item
----  ----------------  ---------------  -----------------  ------------  -------------  ------------
   1            300000                5             285000  Ayam Goreng               2         20000
   1            300000                5             285000  Pasta Gigi                3         15000
   1            300000                5             285000  Mainan Mobil              1        200000
   1            300000                5             285000  Mi Instan                 5          3000
   2            300000                0             300000  Ayam Goreng               2         20000
   2            300000                0             300000  Pasta Gigi                3         15000
   2            300000                0             300000  Mainan Mobil              1        200000
   2            300000                0             300000  Mi Instan                 5          3000

In [39]:
trx.reset_transaction()

Semua item berhasil di-delete!

In [40]:
trx.add_item("Mainan Tamiya Paket", 1, 300_000)
trx.add_item("Keyboard Mekanik", 1, 2_000_000)
print(f"Item yang dibeli adalah: {trx}")

Pemesanan sudah benar: {'Mainan Tamiya Paket': [1, 300000]}
Pemesanan sudah benar: {'Keyboard Mekanik': [1, 2000000]}
Item yang dibeli adalah: {'Mainan Tamiya Paket': [1, 300000], 'Keyboard Mekanik': [1, 2000000]}

In [41]:
trx.check_out()

Total belanja: 2,145,000.0
Total diskon: 6.74%

In [42]:
show_detailed_transactions()

  id    total_harga_rp    diskon_persen    harga_diskon_rp  nama_item              jumlah_item    harga_item
----  ----------------  ---------------  -----------------  -------------------  -------------  ------------
   1            300000          5                   285000  Ayam Goreng                      2         20000
   1            300000          5                   285000  Pasta Gigi                       3         15000
   1            300000          5                   285000  Mainan Mobil                     1        200000
   1            300000          5                   285000  Mi Instan                        5          3000
   2            300000          0                   300000  Ayam Goreng                      2         20000
   2            300000          0                   300000  Pasta Gigi                       3         15000
   2            300000          0                   300000  Mainan Mobil                     1        200000
   2            300000          0                   300000  Mi Instan                        5          3000
   3           2300000          6.73913            2145000  Mainan Tamiya Paket              1        300000
   3           2300000          6.73913            2145000  Keyboard Mekanik                 1       2000000